
# --- Core Web Framework ---
gunicorn>=21.2.0
uvicorn[standard]>=0.24.0
fastapi>=0.104.0

# --- Banco de Dados ---
sqlmodel
aiosqlite
chromadb

# --- Web Crawler () ---
requests
beautifulsoup4
lxml

# --- AI / LangChain ---
langchain
langchain-google-genai
langchain-core
langchain-text-splitters
ollama 

# --- Configuração ---
python-dotenv
pydantic

# --- Desenvolvimento & Testes ---
pytest

# --- Testes de implementação Spliter ---
langchain-core
langchain-text-splitters

# --- Testes de implementação ---
pytest>=8.4.0
pytest_mock